body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 10px;
  background-color: rgb(32, 38, 46);
  color: rgb(223, 223, 223);

  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-flow: column;
  gap: 30px;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(223, 223, 223);

  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 1rem rgba(91, 101, 114, 0.6);
}

button:active {
  transform: scale(0.98);
  box-shadow: 0 0 1rem rgba(91, 101, 114, 0.5);
}




.controls {
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  flex: 0 0 auto;
}

.play-button {
  flex: 1 0 0;

  border: 5px solid rgb(124, 129, 141);
  border-radius: 15px;
  background-color: rgb(53, 60, 70);
  font-size: 30px;
  font-weight: bold;

  transition: all 0.2s ease;
}

.play-button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 1rem rgba(91, 101, 114, 0.6);
}

.play-button:active {
  transform: scale(0.98);
  box-shadow: 0 0 1rem rgba(91, 101, 114, 0.5);
}


.middle {
  display: flex;
  justify-content: space-around;
}

@font-face{
  font-family:'digital-clock-font';
  src: url('./fonts/digital-8.otf');
}

.score-tracker {
  border: 2px solid grey;
  height: 56px;
  font-size: 70px;
  background-color: black;
  color: rgb(158, 210, 255);
  font-family:'digital-clock-font';
  text-align: center;

  flex: 0 1 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 2px 0px 5px;
}

.new-game {
  border: 2px solid grey;
  border-radius: 10px;
  background-color: rgb(53, 60, 70);
  font-size: 20px;
  padding: 0px 0px;

  flex: 0 1 135px;
}


.log {
  border: 3px solid grey;
  border-radius: 10px;
  padding: 10px;
  flex: 1 1 auto;
  overflow: auto;
}

.msg-dimmed {
  color: grey;
}